/* Set the background color for the body */
body {
  background: pink;
}

/* Correct the font size for h1 */
h1 {
  font-size: 3em;
}

/* Correct the font-weight for h2 */
h2 {
  font-weight: normal;
}

/* Correct the font-size for elements with class .completed */
.completed {
  font-size: 12px;
}

/* Correct the background color for #tasks .completed */
#tasks .completed {
  background: #ccc;
}
